@import url(variables.css);
@import url(default.css);
header#header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--negro);
    #nav{
        button{
            background-color: var(--crema);
        }
        a{
            padding: 0 20px;
            font-size: 2rem;
            color: var(--crema);
            &:hover{
                color: var(--dorado);
            }
        }
        ul.dropdown-menu{
            background-color: var(--crema);
            padding: 0;
            a{
                color: var(--negro);
                &:hover{
                    border-radius: 4px;
                    background-color: var(--dorado);
                    color: var(--negro);
                }
            }
        }
    }
}
section#banner {
    position: relative;
    min-height: 90vh;
    background: url("../img/inicio/banner.jpg") no-repeat center center / cover;
    align-content: center;
    overflow: hidden;
    a{
        padding: 15px 20px;
        background-color: var(--dorado);
        color: var(--negro);
        position: relative;
        z-index: 2;
    }
    h1{
        color: var(--dorado);
    }
    p{
        font-weight: bold;
        color: var(--crema);
    }
    h1,p{
        background: radial-gradient(circle at center,rgba(0, 0, 0, 0.8) 0%,rgba(0, 0, 0, 0.5) 30%,rgba(0, 0, 0, 0.3) 60%,rgba(0, 0, 0, 0) 100%);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.65) 80%);
      z-index: 1;
    }
}
main#main{
    /* ESTILOS MAIN */
    section{
        padding: 50px 0;
    }
    section#bienvenida{
        scroll-margin-top: 115px;
        border-bottom: solid 1px var(--negro);
        a{
            padding: 20px;
            background-color: var(--dorado);
            color: var(--negro);
        }
    }
    section#animalesDestacados{
        border-bottom: solid 1px var(--negro);
        div{
            align-content: center;
        }
        a{
            color: var(--crema);
        }
        .puma{
            background-color: var(--bosque);
        }
        .tigre{
            background-color: var(--selva);
        }
        .leon{
            background-color: var(--sabana);
        }
        h3{
            padding-top: 15px;
            margin:0;
        }
    }

    section#sorteo{
        h2{
            text-align: center;
        }
        li{
            margin: 20px 0;
        }
        h4{
            color: var(--dorado);
        }
    }

    section#presentacion{
        padding: 0;
        h1,p{
            color: var(--crema);
        }   
    }
    section#caracteristicas{
        background-color: var(--negro);
        p{
            color: var(--crema);
        }
    }
    section#habitatAlimentacion{
        h4{
            margin: 20px 0;
        }
    }
}
body.leon{
    h2{
        color: var(--sabana);
    }
    strong{
        color: var(--sabana);
    }
    section#presentacion{
        background: url(../img/leon/leonPortada.jpg) no-repeat center center / cover;
        .col{
            background-color: var(--sabana);
        }
    }
}
body.puma{
    h2{
        color: var(--bosque);
    }
    strong{
        color: var(--bosque);
    }
    section#presentacion{
        background: url(../img/puma/pumaPortada.webp) no-repeat center center / cover;
        .col{
            background-color: var(--bosque);
        }
    }
}
body.tigre{
    h2{
        color: var(--selva);
    }
    strong{
        color: var(--selva);
    }
    section#presentacion{
        background: url(../img/tigre/tigrePortada.jpg) no-repeat center center / cover;
        .col{
            background-color: var(--selva);
        }
    }
}
    /* FIN ESTILOS MAIN */
footer#footer{
    padding: 20px 0;
    background-color: var(--negro);
    div#social{
        img{
            max-width: 50px;
            max-height: 50px;
            padding: 10px;
            background-color: var(--crema);
            border-radius: 10px;
        }
    }
    h5{
        margin: 20px 0;
        color: var(--crema);
        font-size: 1.4rem;
    }
    a{
        color: var(--crema);
        padding: 10px;
        &:hover{
            color: var(--dorado);
        }
    }
}
  
  